
html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 0;  
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}

*{
    box-sizing: border-box;
    max-width: 100%;
}
html {
    font-size: 62.5%;
}
body{
    font-size: 2rem;;
}

/* font-family: 'Chelsea Market', cursive;
font-family: 'Roboto Mono', monospace; */

/* End of reset */

/* Font declarations */
header{
    font-family: 'Chelsea Market', cursive;
}

.main footer{
    font-family: 'Roboto Mono', monospace;
}

/* Styling */

header{
    margin: 0 auto;
    width: 100%;
}

.topnav{
    width: 100%;
    margin: 5% 0;
    /* border: 2px solid darkgreen; */
}
nav a{
    text-decoration: none;
    color: white;
    display: inline-block;
    text-align: center;
    border: 1px solid white;
    border-radius: 15px;
    padding: 5px 0;
    margin-left: 11%;
    text-transform: capitalize;
    font-size: 2.5rem;
    width: 18%;
}
nav a:first-child{
    background-color: #FF764E;
}
nav a:first-child:hover{
    background-color: #5ED3EB;
    color: black;
}

nav a:nth-child(2){
    background-color: #5ED3EB;
}
nav a:nth-child(2):hover{
    background-color: #FFCD69;
    color: black;
}

nav a:last-child{
    background-color: #FFCD69;
}
nav a:last-child:hover{
    background-color: #FF764E;
    color: black;
}

h1{
    font-size: 3.3rem;
}